body {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container-app {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);


    .clock-container {
        width: 95%;
        height: 30vh;
        border: 1px solid black;
        border-radius: 10px;
        background-color: #000000;
        background-image: linear-gradient(-315deg, #000000 0%, #414141 74%);
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}

.container-sections {
    width: 25%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2px;

    h1 {
        color: white;
        font-size: 50px;
    }

    p {
        margin: - 15px;
    }

    @media screen and(max-width: 1000px) {
        h1 {
            font-size: 40px;
        }

        p {
            font-size: 15px;
        }
    }

    @media screen and(max-width: 500px) {
        h1 {
            font-size: 30px;
        }

        p {
            font-size: 10px;
            margin: -10px;
        }

    }

    @media screen and(max-width: 400px) {
        h1 {
            font-size: 25px
        }

        p {
            font-size: 10px;
            margin: -9px;
        }
    }


}

.dots {
    color: white;
    font-size: 50px;

    @media screen and (max-width: 500px) {
        font-size: 25px;
    }
}